<form class="grid grid-cols-1 gap-6 m-16">
    <h1 class="text-4xl text-blue-500 text-center font-bold col-span-1">鮮度くん</h1>
    <p class="col-span-1">
    『Githubリポジトリの特定のファイルの最終更新日』と『ドキュメントの更新日』を比較して、
    ドキュメントの方が古くなっていたら教えてくれるバッジを作成できるサービスです。
    </p>
    <p class="col-span-1">
    ファイルより新しいドキュメントには<%= image_tag '/assets/fresh.svg' %>が表示され、
    ファイルより古いドキュメントには<%= image_tag '/assets/stale.svg' %>が表示されます。
    </p>
    <label for="yyyymmdd" class="lbl">ドキュメント更新日 :
        <input type="date" name="yyyymmdd" id="yyyymmdd" class="w-full rounded">
    </label>
    <label for="user" class="lbl">ユーザー名 :
        <input type="text" name="user" id="user" placeholder="user" class="w-full rounded" >
        <span class="description text-xs">https://github.com/<b>user</b>/repository/</span>
    </label>
    <label for="repo" class="lbl">リポジトリ名 :
        <input type="text" name="repo" id="repo" placeholder="repository" class="w-full rounded">
        <span class="description text-xs">https://github.com/user/<b>repository</b>/</span>
    </label>
    <label for="branch" class="lbl">ブランチ名 :
        <input type="text" name="branch" id="branch" placeholder="main" class="w-full rounded">
    </label>
    <label for="path" class="lbl">ファイル(option) :
        <input type="text" name="path" id="path" placeholder="README.md" class="w-full rounded">
    </label>
    <input type="button" id="make" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" value="生成" class="w-full">
    <label for="result" class="lbl">画像URL :
        <div class="relative w-full">
            <input type="text"  name="result" id="result" class="h-14 w-96  pr-20 rounded-lg z-0 w-full bg-gray-100" readonly>
            <div class="absolute top-2 right-2"> 
                <button type="button" id="copy_result" class="h-10 w-20 rounded-lg bg-white border">📋</button>
            </div>
        </div>
    </label>
    <label for="result_tag" class="lbl">Markdownタグ :
        <div class="relative w-full">
            <input type="text"  name="result_tag" id="result_tag" class="h-14 w-96  pr-20 rounded-lg z-0 w-full bg-gray-100" readonly>
            <div class="absolute top-2 right-2">
                <button type="button" id="copy_result_tag" class="h-10 w-20 rounded-lg bg-white border">📋</button>
            </div>
        </div>
    </label>
</form>

<%= javascript_pack_tag 'make/index' %>